#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Infineon CYW55571 Bluetooth UART HCI Transport"
#define VER_INTERNALNAME_STR        "IfxBtUartHci.sys"
#define VER_ORIGINALFILENAME_STR    "IfxBtUartHci.sys"

#include "common.ver"

//MofResourceName MOFDATA driver.bmf

